@import '~@angular/material/theming';

@mixin sidenav-theme($mat-theme) {
  .drawer {
    background-color: mat-color($accent);
    color: #FFF;
  }

  h4 {
    color: #FFF;
    font-family: "Segoe UI", sans-serif;
  }

  mat-icon {
    color: #FFF;
  }

  .company {
    border-bottom: 1px solid mat-color($accent, 400);
  }
}

.drawer-container {
  width: 100vw;
  height: 100vh;
}

.mat-list-item-content h4 {
  display: flex;
  width: 120px;
}
