@import '~node_modules/@angular/material/theming';

@mixin product-item-theme($mat-theme) {
  .product-page-root {
    height: 100%;
    overflow: auto;
    background-color: mat-color($theme, primary);

    .product-page-actionbar {
      background-color: mat-color($theme, secondary);
      box-shadow: 5px 5px 18px mat-color($theme, dark);
    }

    .product-page-actions {
      border-bottom: 1px solid mat-color($accent, 100);
    }

    .mat-ink-bar {
      background-color: mat-color($primary) !important;
    }

    .product-page-content {
      background-color: mat-color($theme, secondary);
    }
  }

  a.mat-tab-link {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
  }

  a.mat-tab-link:hover {
    color: mat-color($primary);
    text-decoration: none;
  }
}
