@import '~@angular/material/theming';

@mixin product-details-theme($mat-theme) {
  h6 {
    margin: 0;
    color: mat-color($accent, 400);
  }

  button.btn-link {
    color: mat-color($primary);
    line-height: 0;
  }

  button.btn-link:hover, button.btn-link:focus {
    color: mat-color($primary);
    text-decoration: none;
  }
}

.col-8 {
  padding-left: 0;
  padding-right: 0;
}

.ql-container.ql-snow {
  min-height: 180px;
}
