@import '~@angular/material/theming';

@mixin product-fitment-theme($mat-theme) {
  .remove-fitment-btn {
    background-color: mat-color($alert, danger-light);
  }

  .remove-fitment-btn:hover {
    background-color: mat-color($alert, danger);
  }

  .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
  }
}
