@import "./theme";
@import "./components";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body {
  height: 100%;
  width:100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.form-control:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: mat-color($theme, secondary) !important;
  color: mat-color($accent, 400);
}

select.form-control {
  text-indent: 0.40em;
}

button:focus {
  outline: none;
}

.btn:focus {
  box-shadow: none;
}

.mat-checkbox .mat-checkbox-frame {
  border: 1px solid mat-color($theme, dark);
  width: 1.3em !important;
  height: 1.3em !important;
}

.mat-checkbox-checked .mat-checkbox-background {
  width: 1.3em !important;
  height: 1.3em !important;
}

label {
  color: mat-color($accent, 400);
}

.mat-checkbox-label {
  margin-left: 6px;
  margin-top: 6px;
  color: mat-color($accent, 400);
  font-family: "Segoe UI", sans-serif !important;
}

.mat-pseudo-checkbox {
  border: 1px solid mat-color($theme, dark) !important;
  width: 1.3em !important;
  height: 1.3em !important;
}

.mat-pseudo-checkbox-checked::after {
  top: 6px !important;
  left: 4px !important;
}

.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
  color: mat-color($accent, 400);
}

.mat-cell {
  font-size: 15px;
  color: mat-color($accent, 400);
}

body {
  font-family: "Segoe UI", sans-serif;
}

