<div class="d-flex flex-column" style="height: 100%;">

  <div class="d-flex justify-content-between">
    <div></div>
    <div></div>
    <div class="p-2 mr-3">
      <button mat-raised-button color="primary" class="mr-2" routerLink="/new-product/details">Create New</button>
      <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">Import/Export <i class="fas fa-caret-down"></i> </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon><i class="fas fa-file-upload"></i></mat-icon>
          <span>Import</span>
        </button>
        <button mat-menu-item>
          <mat-icon><i class="fas fa-download"></i></mat-icon>
          <span>Export</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection"
    [suppressDragLeaveHidesColumns]="true"
    [paginationPageSize]="paginationPageSize"
    [pagination]="true"
    suppressPaginationPanel=true
    (rowSelected)="onRowSelected($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

  <div>
    <mat-paginator
      class="mat-paginator"
      id="page-size"
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>

</div>
